body {
  min-width: 250px; }

header {
  transition: background 1s;
  background-color: #268bff;
  color: white;
  text-align: center; }

nav {
  background-color: white;
  height: 23px; }

.nav-content {
  width: 50%;
  margin: 0 auto;
  overflow: hidden; }

.new-color {
  float: left;
  cursor: pointer;
  padding: 10px; }

.new-color:hover {
  color: white;
  background-color: black;
  transition: 1s; }

.try-again {
  float: right;
  position: relative;
  left: -50%;
  padding: 10px; }

.easy-hard {
  float: right;
  cursor: pointer; }

.easy-hard li {
  display: inline-block;
  padding: 10px; }

.hard {
  color: white;
  background-color: black;
  transition: 1s; }

.clear {
  clear: both; }

main {
  margin-top: 50px; }

.main-size {
  width: 50%;
  margin: 0 auto; }

main li {
  transition: background 1s;
  border-radius: 12%;
  display: inline-block;
  padding: 14%;
  cursor: pointer; }

@media (max-width: 775px) {
  .nav-content {
    width: 100%; }
  nav {
    height: 100%; }
  .new-color {
    float: none;
    text-align: center;
    padding: 0; }
  .try-again {
    float: none;
    text-align: center;
    left: 0%;
    padding: 0; }
  .easy-hard {
    float: none;
    text-align: center;
    padding: 0; }
  .main-size {
    width: 90%;
    margin: 0 auto; } }
